html, body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}

.grass, .sky, .road{
    position: relative;
}

.sky{
    height: 40vh;
    background: skyblue;
}

.cloud:nth-child(1) {
    position: absolute;
    opacity: 0.5;
    top: 80px;
    animation: cloud 18s linear 0s infinite; 
}

.cloud:nth-child(2) {
    position: absolute;
    top: 0;
    animation: cloud 15s linear 0s infinite reverse; 
}

.grass{
    height: 30vh;
    background: seagreen;
    /* background: url('img/grass.JPG') no-repeat; */
    
}

.road{
    height: 30vh;
    background: dimgrey;
    box-sizing: border-box;
    border-top: 10px solid grey;
    border-bottom: 10px solid grey;

}

#line{
    box-sizing: border-box;
    height: 47%;
    width: 1vw;
    position: absolute;
    left: 28.5vw;
    transform: rotateZ(-170deg);
    background-image: url('img/bump4.JPG');
    
}

.lines {
    box-sizing: border-box;
    border: 0.5vw dashed #fff;
    height: 0;
    width: 100vw;
    position: absolute;
    top: 47%;
}

#mario{
    position: absolute;
    left: -1vw;
    top: 1vw;
    animation: ride 5s ease-in-out 0.1s normal forwards, rideAgain 2s ease-in 15.2s normal forwards;
    z-index: 5;
}

#luigi{
    position: absolute;
    left: 107vw;
    top: 7vw;
    transform: rotateY(180deg);
    animation: ride2 3s ease-in-out 0.1s normal forwards, ride3 5s ease-in-out 3.2s normal forwards,
    rideAgain2 2s ease-in 15.6s normal forwards;
    z-index: 5;
}

.traffic{
    position: absolute;
    left: 47vw;
    top: -5vw;
    opacity: 1;
}

.green {
    opacity: 0;
    animation: go 1s ease-in-out 8s normal forwards;
}

@keyframes go{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1
    }
}

@keyframes ride {
    0%{
        left: -1vw;
        top: 1vw;
    }
    52%,65%{ top: 1vw;}
    60%{
        top: -1.5vw;
    }
    
    100%{
        left: 43vw;
    }
}

@keyframes ride2{
    0%{
        left:107vw;
    }
    100%{
        left: -7vw;
    }
}


@keyframes ride3 {
    0%{
        left: -7vw;
        top: 1vw;
        transform: rotateY(180deg);
    }
    1%{
        transform: rotateY(0deg);
    }
    60%,70%{ top: 1vw;}
    65%{
        top: -2vw;
    }
    
    100%{
        left: 38.5vw;
        transform: rotateY(0deg);
        top: 1vw;
    }
}

@keyframes rideAgain{
    0%{
        left:43vw;
    }
    100%{
        left: 101vw;
    }
}

@keyframes rideAgain2{
    0%{
        left:38.5vw;
    }
    100%{
        left: 101vw;
    }
}


@keyframes cloud{
    from{
        left: -21vw;
    }
    to{
        left: 101vw;
    }
}